.loginBase{
	background: url('https://alacritas.cis.utas.edu.au/~mingked/kit301/JPGs/background_letter.jpg');
	background-size: cover;
	height: 100%;
	padding-top: 95px;
}

.loginBase #loginBox{

	width: 28%;
	height: 600px;
	margin-left: 37%;
	text-align: center;
	background: #FFFFFF60;
	padding: 15px 50px;
    color: #000000;
}
.loginBase #loginBox h3{
	color: #FFFFFF;
   font-size: 55px;
  
}

.loginBase #loginBox .loginForm .item input{
	width: 330px;
	font-size: 30px;
	border: 0;
	border-bottom: 2px solid #ffffff;
	padding: 5px 10px; /*上下左右*/
	background: #ffffff00;
	color: #000000; /*直接color就是字体颜色*/
}
.loginBase #loginBox .loginForm{
    margin-top: 10%;
}
 ::placeholder{
    color: #00000070;
}
#loginBox .loginForm .item{
	margin-top: 15px; /*上间距*/
}

.logSend .submit{
	margin-top: 125px;	
	width: 180px;
	height: 50px;
	font-size: 20px;
	font-weight: 700;
	background-color: #2B394E;
    color: #FFFFFF;
	border: 0;
	border-radius: 30px;
	cursor: pointer;
}
.logSend .desc{
	color: #00000060;
}

