
.loginBase{
	background: url('https://alacritas.cis.utas.edu.au/~mingked/kit301/JPGs/background_letter.jpg');
	background-size: cover;
	height: 100vh;
	justify-content: center;
	align-items: center;
	padding-left: 30vw;
	padding-top: 10vh;
	width: 100%;
}
.loginBox{
	background: #FFFFFF60;
	
	width: 40vw;
	padding-top: 3vw;
	height: 80vh;
	padding-left: 3vw;
	padding-right: 3vw;
	color: #000000;
	text-align: center;

}
.loginBase .loginBox h3{
   color: #FFFFFF;
   font-size: max(35px,calc(0.6rem + 3vw));
}
.loginBase .loginBox h5{
	position: relative;
	top:-20px
}
.loginBase .loginBox .loginForm .item input{
	width: 100%;
	font-size: max(25px,calc(0.1rem + 1vw));
	border: 0;
	border-bottom: 2px solid #ffffff;
	padding: 5px 10px; 
	background: #ffffff00;
	color: #000000;
}
.loginBase .loginBox .loginForm{
	margin-top:6vh;
}
::placeholder{
    color: #00000070;
}
.loginBox .loginForm .item{
	margin-top: 5%;
}
.logSend .submit{
	margin-top: 12vh;
	width: 25vw;
	height:  max(35px,7vh);
	font-size: max(20px,calc(0.1rem + 1vw));
	font-weight: 700;
	background-color: #2B394E;
    color: #FFFFFF;
	border: 0;
	border-radius: 30px;
	cursor: pointer;
	min-height: 33px;
}


@media (max-width: 414px) {
	/*Iphone 12 Pro*/
	.loginBase{
		padding-left: 5vw;
		padding-top: 15vw;
	}
	
	.loginBox{
		width: 90vw;
		padding-top: 6vh;
		height: 60vh;
	}
	.loginBase .loginBox .loginForm{
		margin-top:4vh;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 415px) {
	/* Ipad */
	.loginBase{
		padding-left: 15vw;
		padding-top: 7vw;
	}
	.loginBox{
		padding-top: 3vh;
		width: 70vw;
	}
	.logSend .submit{
		height:  4vh;
		margin-top: 9vh;
	}
	.loginBase .loginBox .loginForm{
		margin-top:4vh;
	}
}
