
.hero-container{
    width: 100vw;
    height: 100vh;
    background-image: url("https://alacritas.cis.utas.edu.au/~mingked/kit301/JPGs/bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.hero-container  h1 {
    color: white;
    font-size: 100px;
    margin-left: 34vw;
    
}
.hero-container  p {
    margin-top: -5vh;
    color: white;
    font-size: 32px;
    margin-left: 40vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.search{
    display: flex;
    flex-wrap: wrap;
    padding-left: 9vw;
    /* margin-top: -22vh;  */
}
.twoSearch .btn{
    margin-left: 38.5vw;
    margin-top: 3vh;
    margin-bottom: 1vh;
}
.twoSearch a{
   color:#7691C6;
   font-size: 20px;
   margin-left: 40vw;
   
}
.requires{
    text-align: center;
    background-color:#ffffff00 ;
    border: 0.3rem solid white;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    font-style: italic;
    padding: 5px 10px;
    width: 20vw;
    height: 20vh;
    margin-left:0.5vw;
    margin-right:0.5vw;

}

.eventType option{
    background-color:#6495ed60;
}


.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .hero-container > h1 {
        font-size: 70px;
        
    }
    .hero-container > p {
        margin-top: -6vh;
        font-size: 1.5rem;
    }
    .requires{
        flex: 24%;
        
    }
    .search{
        margin-left:-7vw ;
        margin: 0vw 1vw;
    }
    .hero-container{
        height: 100%;
    }
    .twoSearch .btn{
        margin-left: 28.5vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 45vw;
    }
    .twoSearch a{
        margin-left: 35vw;
    }
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
            font-size: 50px;
        }
    .hero-container > p {
        font-size: 1rem;
    }
    .btn-mobile {
        display: block;
        text-decoration: none;
    }
    .hero-container{
        height: 100%;
    }
    .twoSearch .btn{
        margin-left: 28.5vw;
        margin-top: 3vh;
        margin-bottom: 1vh;
        width: 45vw;
    }
    .requires{
        flex: 24%;
        
    }
    .twoSearch a{
        margin-left: 22vw;
    }
}

