@import '~antd/dist/antd.css';

.dashboard-user{
    display: flex;
}
.dashboard-user .m-slide{
    width: 256px;
    height: 100%;
   
}
.dashboard-user .m-content{
    flex:1;
    height: 100vh;
    overflow: auto;
   
}
.dashboard-user .ant-menu{
    height: 100vh;
}

.dashboard-user .m-operate{
    text-align: right;
    padding-bottom: 10px;
}

.m-readonly-modal .ant-form-item{
    pointer-events: none;
    /* no mouse event could happen */
}

.m-readonly-modal .ant-modal-footer{
    display: none;
}


.dashboard-user .m-filter{
    margin:10px 0;
}