.events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
    min-height: 80vh;
}

.eve-ele h3{
    font-size: 1.6rem;
    font-weight: 600;
}
.eve-col{
    width: 80vw;
    height: auto;
   
    padding-left: 0;
}
.eve-col li{
    list-style: none;
}
.eve-row{
    width: 100%;
    height: 35vh;
    background-color: aliceblue;
    display: flex;
    padding: 1rem;
}
.eve-ele{
    width: 24%;
    height: 100%;
    padding: 1rem;
    background-color: bisque;
    border-radius: 1rem;
    margin-right: 1rem;
}