.itemList{
   background-color:#9C528B30;
   width: 80%;
   height: 900px;
   display: flex;
   margin-top: 4vh;
   margin-left: 10vw;
   border: 10px solid #30303030;
   justify-content: center;
}
.itemList .item{
    background-color:#9C528B60;
    width: 90%;
    height: 22.5vh;
    box-shadow: 5px 10px #88888840;
    display: flex;
    margin-top: 1vh;

}

.item-left{
    width: 185px;
    height: inherit;
    background-size: cover;
}
.item-right h2{
    cursor: pointer;
}
.item-right{
    padding: 10px;
    width: 695px;
    font-style: italic;

}
.item-star{
    width: 270px;
    padding-top: 7px;
    height: inherit;
    padding-left: 125px;
    
}
.item-star .star{
    width: 60px;
    height: 60px;
    background-size: cover;
    padding-left: 16px;
    padding-top: 40px;
    font-size: larger;
}
.item-star h4{
    margin-left: -10px;
    margin-top: 20px;
    opacity: 60%;
}
.item-star h3{
    margin-left: 10px;
    margin-left: 18px;
    margin-top: -10px;
    color:white;
}

.merchant{
    display: flex;
}
.merchant .avatar{
    margin-left: 5px;
    background-color: azure;
    height: 25px;
    width: 25px;
    border-radius: 15px;
    background-size: cover;
}
.event-intro{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event-intro .intro-img{
    background-image: url("https://images.unsplash.com/photo-1517457373958-b7bdd4587205?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80");
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro-img h2{
    font-size: 3.2rem;
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
}
.intro-img h3{
    font-size: 1.2rem;
    color: rgb(206, 206, 206);
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 3vh;
}
.create-event{
    background-color: #ffffff00;
    border: 1px solid #ffffff;
    font-size: 1rem;
    width: 12vw;
    height: 6vh;
    color: white;
}
.event-intro .divider{
    width: 70%;
    border-top: 1px solid #00000040;
}
.intro-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}
.intro-list .list-locate{
    width: 24%;
    height: 25vh;
    padding-top: 10px;
    margin-top: 3vh;
    overflow: scroll;
    margin-right: 5vw;
}

.list-locate h3{
    width: 10vw;
    color:#959595;
}
.list-locate h2{
    font-size: 1.5rem;
}
.intro-desc{
    font-size: 1.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    width: 54%;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}