.checkout{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
}
.checkout .itemContainer{
    padding-left: 3vw;padding-right: 3vw;
    width: 100%;
    height: 80vh;
}
.itemContainer .itemTitle{
    height: 30px;
}
.serList{
    padding-left: 1rem;padding-right: 1rem;
    display: flex;
    flex-direction: column;
    height: 50%;
    overflow: scroll;
    border: 1rem solid #efefef;
}
.serList .service{
    width: 75%;
    margin-bottom: 1vh;
    height: 50%;
    border-bottom: 3px solid #efefef;
}
.service .sname, .service .select{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    position: relative;
}
.service button{
    width: 5vw;
    height: 50%;
    position: absolute;
    right: 0;
}