:root{
    /* define variable at root in case of later using */
    --background-color:#000000;
}
.m-header{
    background-color: var(--background-color);
    text-align: center;
    position: sticky;
    width: 100vw;
    box-shadow:0 .5rem #98CBB475 ;
    position: sticky;
    top: 0;
    z-index: 999;
}
.location{
    display: flex;
    justify-content: center;
}
.location a{
    margin-top: 15px;
    margin-left: 15px;
    color:#ffffff;
}
.trolley{
    position: absolute;
    text-align: left;
    top: 100%;
    left:0;
    background:var(--background-color);
    width: 100%;
    /* fancy way to appear  */
    transform: scale(1,0);
    transform-origin: top ;
    transition:transform 400ms ease-in-out;
}
.trolley ul{
    margin:0;
    list-style: none;
    
}
.trolley li{
    padding-top: .75rem;
    height: 7vh;
    
}
.trolley li:hover{
   
    background-color: aqua;
}

.shop-list ul{
    list-style: none;
   
}
.shop-list li{
    margin-bottom: 1rem;
    background-color: rgb(135, 177, 169);
}

.trolley Link{  
    /* remove a tag feature */
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0; /*default does't appear*/
    transition: opacity 150ms ease-in-out; /*last one is animation delay*/
}

.trolley .tro-item{
    color: #ffffff;
}

.nav-toggle:checked ~ .trolley{
    /* ~ first sibling, doesn't have to be immediatelt after */
    display: block;
    transform: scale(1,1);  /*control lenght width */
}
.nav-toggle:checked ~ .trolley Link{
    /* ~ first sibling, doesn't have to be immediatelt after */
   opacity: 1;
   transition: opacity 250ms ease-in-out 250ms; /*last one is animation delay*/
}
.nav-toggle{
    display: none;
}
.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    /* center items by following three */
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background-color: aliceblue;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position:relative;
    cursor: pointer;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
   
}

.nav-toggle-label span::before{
    bottom:7px;
}
.nav-toggle-label span::after{
    top:7px;
}
 
@media screen and (min-width:800px){
    .nav-toggle-label{
        display: none;
    }
    .m-header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px,1fr) 1fr; /*setting 4 columns*/
    }
    .location{
        grid-column: 1 / 3;
    }
    .trolley{
        grid-column: 3 / 4;
        all:unset;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .trolley ul{
        display: flex;
        justify-content:flex-end;
    }
    .trolley Link{
        opacity: 1;
        position: relative;
    }
    .trolley Link::before{
        content: '';
        display: block;
        height: 5px;
        background-color: #000;
        position: absolute;
        top: -.75em; /*alternarive: bottom:-.75em*/
        left: 0;right: 0;
        transform: scale(0,1);
        /* transform-origin:left ; grow from left */
        transition:transform ease-in-out 250ms;
    }
    .trolley Link:hover::before{
        transform: scale(1,1);
    }
    .trolley li{
        margin-left: 3em;
        margin-bottom: 0;
    }
} 
.chatBox .ant-modal-content{
   height: 70vh;
   margin-top: 15vh;
   width: 25vw;
   margin-left: 40vw;
   display: flex;
   flex-direction: column;
}
.chatForm{
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 1%;
}

