.intro-box{
    height: auto;
    width: 85%;
    margin-left: 11.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(156, 151, 141);
    margin-bottom: 15vh;
}

.img-slice{
    height:35vh;
    width: 100%;
    display: flex; flex-direction: column; align-items: center;
    margin-top: 1vh;
    
}
.img-slice h2{
    font-size: 2rem;
}
.img-slice .imgs{
    height:75%;
    width: 100%;
}
.intro-a,.intro-c,.facility,.recommend{
    width: 100%;
}
.intro-a{
    display: flex;
    height:35vh;
}
.intro-a p{
    width: 60%;
    font-size: 1rem;
    padding: 1rem;
}
.intro-a h3{
    width: 40%;
    font-size: 2rem;
    padding-left: 5vw;
}
.intro-slice{
    height:30vh;
    background-color: black;
    width: 100%;
    color: aliceblue;
    display: flex; align-items: center;
    padding: 2rem;
    font-size: 1rem;
}
.intro-c{
    padding: 2rem;
    font-size: 1rem;
    height: 28vh;
}
.intro-c h3{
    font-size: 1.5rem;
}
.facility{
    height:40vh;
    display: flex;
}
.facility .left{
    width: 65%;
    height: 100%;
    padding: 1rem;
    display: flex;flex-direction: column;
}
.facility .left h2{
    font-size: 1.5rem;
    margin-left: 2rem;
}
.facility .right .upper{
    margin-top: 12.5vh;
}

.fls{
    display: flex;
}
.fls .fl-a, .fls .fl-b{
    margin-left: 2rem;
}
.facility .right{
    width: 35%;
    height: 100%;
}
