.selecBox{
    height: 45vh;
    width: 100vw;
    height: auto;
    padding: 1rem;
}
.selc-shop{
    display: flex;
    width: 100%;
} 
.selc-shop Button{
    background-color: rgb(238, 85, 116);
    height: 7.5vh;
}
.selecBox .selection{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 65vh;
    margin-bottom: 2vh;
    padding-left: 5vw;
}
.imagesub{
    height: auto;
    width: 15vw;
    border: 1px solid cornflowerblue;
}
.imagesub .imgsub{
    width: 100%;
    height: 30%;
    margin-bottom: 1vh;
    background-size: cover;
    background-repeat: no-repeat;

}
.selection .imageShow{
    width: 25%;
    height: 50.5vh;
    background-image: url("https://mymodernmet.com/wp/wp-content/uploads/2022/05/gorams-people-drawing-tutorials-6.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 6.5vw;
    
}
.selection .imageShow:hover{
    transform: scale(1.3); 
    z-index: 999;
}
.selc-shop .right{
    width:40%;
    margin-left: 3vw;
    height: 52.5vh;
    padding-top: 5vh;
}
.selc-shop .right Button{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.selc-shop  .right p{
    font-size: medium;
    font-family:'Times New Roman', Times, serif ;
}
.detail-review{
    display: flex;
    padding-left: 1.2vw;
    font-weight: 600;
}
.sel-pick{
    margin-bottom: 2vh;
}
.dr-sub{
    width: 15vw;    /*underline tip for opening site*/
    padding-left: 1rem;
    height: 4vh;
}
