@import '~antd/dist/antd.css';
#root,.app{
    height: 100%;
}
.app{
    display: flex;
    background-color: aliceblue;
}
.m-slide{
    width: 256px;
    height: 100%;
    background-color: aqua;
}
.m-content{
    flex:1;
    height: 100%;
    overflow: auto;
    background-color:beige;
}